.menu{
    display: flex;
    width: 75vw;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 2em;
    padding-top: 3em;
}

@media(max-width: 700px){
    .menu{
        display: block;
    }
}